@model Ronaldogod.Models.Jogador

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Jogador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nascionalidade" class="control-label"></label>
                <input asp-for="nascionalidade" class="form-control" />
                <span asp-validation-for="nascionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
        <div style="display: inline; float: left;" class="form-group text-right">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index")';">Voltar</button>
        </div>
    </div>
    

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
